{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 class="text ">BlackBoard</h1>
                    <h3 class="text">About</h3>
                    <p style="font-size:20px;"><span class="text">BlackBoard</span> is a website which helps teachers to manage students' in their assignments and projects.Once the students have registered using the details provided by their institution,the teachers will get the list and can assign the students their respective subjects and tasks.</p>
                    <hr class="intro-divider">
                    <h3 class="text">Contributors</h3>
                    <p style="font-size:20px;">Aman Zishan<br>Aparna S</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}