{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 class="text ">BlackBoard</h1>
                    <h3 class="text">About</h3>
                    <p style="font-size:20px;"><span class="text">BlackBoard</span> helps teachers to easily manage students in their assignments and projects.once the students have registered, teachers will get the list and can assign them respective subjects and tasks.</p>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}