body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #444444;
}

a:hover,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: rgb(109, 109, 109);
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #000000;
    background-color: #e6ecca;
    border-color: rgb(129, 129, 129);
}

.btn-default {
    border-color: #000000;
    color: black;
}

.btn-default:hover {
    background-color: rgb(122, 122, 122);
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer,
.push {
    clear: both;
    height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #3a3838;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
}

.intro-message>h1 {
    margin: 0;
    font-size: 5em;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.outer {
    display: table;
    position: absolute;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
}

.text1 {
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
}